<div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
    <form asp-area="" asp-controller="AccountManager" asp-action="UserList" method="post">
    <ul class="navbar-nav flex-grow-1">
        <li>
                <i class="fas fa-search search-icon"></i>
                <input type="text" placeholder="Поиск DogNet..." class="search-input" name="search">
        </li>
    </ul>
    </form>
</div>
